.icon{
    width: 40px;
}

.bar{
    background: rgb(176,236,204);
    background: linear-gradient(42deg, rgba(176,236,204,0.8393732492997199) 6%, rgba(159,210,187,0.8561799719887955) 50%, rgba(137,217,201,0.819765406162465) 100%);
}