<div class="row bg-green-400">
    <div class="flex items-center h-9 col-12 m-1.5">
        <div class="col-4 flex justify-center ">
            <a routerLink=""><img src="assets/barbell.png" class="w-10" alt=""></a>
        </div>
        <div class="col-9 flex justify-center">
           <ul class="flex space-x-4">
               <li class="">
                   <a routerLink="/training" class="icon"><i class="icon bi bi-plus-circle fs-2x"></i> New training</a>   
               </li>
               <li>
                   <a href=""><i class="bi bi-bar-chart-fill"></i> Progress</a>
                
                </li>
                <li>
                    <a href=""> <i class="bi bi-person-circle"></i> Profile</a>
                   
                 </li>
           </ul>
        </div>
    </div>
</div>