<div class="flex col-12">
    <div class="flex flex-column items-center justify-center col-8 mt-2">
        <h1 class="text-7xl	ml-10 font-bold">Mide el progreso de tus entrenamientos</h1>
        <button 
        routerLink="/training"
        class="w-96 mt-4 bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded "
        > ¡Empieza a mejorar! </button>
    </div>
<div class="w-96 mt-3 col-4">
    <img src="assets/dashboard.jpg" alt="">
</div>
</div>
<div class="flex col-12">
    <div class="flex flex-column items-center justify-center col-8 mt-3">
        <img class="w-80" src="assets/example.jpg" alt="">
    </div>
    <div class="flex flex-column items-center justify-center col-3 mt-4 ">
        <p class=""> <span class="text-black text-opacity-25 line-through text-2xl font-semibold">Excusas</span> &nbsp; &nbsp;<span class="text-5xl font-bold -ml-4 md:-ml-6 -rotate-1 bg-green-400 inline-block px-4 md:px-6 py-2 py-3 transform">Resultados</span></p>
    </div>

</div>